<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Регистрация</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/reg.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="img/logo1.png"> <br><br>
        <h2>Форма регистрации</h2>
        <p class="lead">Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Alias, omnis magnam necessitatibus sint id consequatur ex expedita repudiandae nesciunt, obcaecati labore deleniti iste, sed modi assumenda autem iusto nam ullam.</p>
      </div>

      <div class="row">
        <div class="col-md-12 order-md-1">
          <h4 class="mb-3">Текст</h4>
          <form class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Имя</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Пожалуйста заполнити.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Фамилия</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Пожалуйста заполнити.
                </div>
              </div>
              <div class="col-md-6 mb-3">
              <label for="username">Логин</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" id="username" placeholder="Login" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Пожалуйста заполнити.
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="name@mail.ru">
              <div class="invalid-feedback">
                Пожалуйста заполнити.
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="address">Телефон</label>
              <input type="text" class="form-control" id="address" placeholder="+7(***)***-**-**" required>
              <div class="invalid-feedback">
                Пожалуйста заполнити.
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="address2">Кошелек <span class="text-muted">(Payeer)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="Номер кошелька...">
            </div>

            </div>

            
            <hr class="mb-4">
            <div class="row justify-content-center">
              <div class="col-md-3 mb-3">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Продолжить</button>
              </div> 
            </div>
          </form>
        </div>
      </div>
  </body>
</html>